For creating the organised dataset from raw data and split it into Train and Test.

In [23]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
#read lines from the demographic_information.txt file
lines = open("D:\ICBHI_final_database\ICBHI_final_database\ICBHI_Challenge_demographic_information.txt","r").readlines()

#break the line with a Tab (\t) split
broken = []

for line in lines:
    line = line[:-1]
    broken.append(line.split('\t'))
    
#preview
broken[0:4]

[['101', '3', 'F', 'NA', '19', '99'],
 ['102', '0.75', 'F', 'NA', '9.8', '73'],
 ['103', '70', 'F', '33', 'NA', 'NA'],
 ['104', '70', 'F', '28.47', 'NA', 'NA']]

In [3]:
#create a dataframe
df=pd.DataFrame(broken,columns=["Patient_ID","Age","Gender","BMI","Weight","Height"])
df.head()

  Patient_ID   Age Gender    BMI Weight Height
0        101     3      F     NA     19     99
1        102  0.75      F     NA    9.8     73
2        103    70      F     33     NA     NA
3        104    70      F  28.47     NA     NA
4        105     7      F     NA     32    135

In [4]:
df.to_csv("demographic_info.csv")

In [5]:
data = pd.read_csv("demographic_info.csv")
data.head()

   Unnamed: 0  Patient_ID    Age Gender    BMI  Weight  Height
0           0         101   3.00      F    NaN    19.0    99.0
1           1         102   0.75      F    NaN     9.8    73.0
2           2         103  70.00      F  33.00     NaN     NaN
3           3         104  70.00      F  28.47     NaN     NaN
4           4         105   7.00      F    NaN    32.0   135.0

In [6]:
#again reading lines from the diagnosis file
lines = open("D:\ICBHI_final_database\ICBHI_final_database\ICBHI_Challenge_diagnosis.txt","r").readlines()
broken = []

for line in lines:
    line = line[:-1]
    broken.append(line.split('\t'))
    
broken[0:4]

[['101', 'URTI'], ['102', 'Healthy'], ['103', 'Asthma'], ['104', 'COPD']]

In [17]:
disease = []
for data in broken:
    disease.append(data[1])
disease

['URTI',
 'Healthy',
 'Asthma',
 'COPD',
 'URTI',
 'COPD',
 'COPD',
 'LRTI',
 'COPD',
 'COPD',
 'Bronchiectasis',
 'COPD',
 'COPD',
 'COPD',
 'LRTI',
 'Bronchiectasis',
 'COPD',
 'COPD',
 'URTI',
 'COPD',
 'Healthy',
 'Pneumonia',
 'Healthy',
 'COPD',
 'Healthy',
 'Healthy',
 'Healthy',
 'COPD',
 'URTI',
 'COPD',
 'URTI',
 'COPD',
 'COPD',
 'COPD',
 'Pneumonia',
 'Healthy',
 'URTI',
 'COPD',
 'COPD',
 'Pneumonia',
 'COPD',
 'COPD',
 'Healthy',
 'Healthy',
 'COPD',
 'COPD',
 'COPD',
 'URTI',
 'Bronchiolitis',
 'URTI',
 'COPD',
 'Healthy',
 'Healthy',
 'COPD',
 'COPD',
 'COPD',
 'COPD',
 'COPD',
 'Healthy',
 'COPD',
 'Bronchiolitis',
 'COPD',
 'COPD',
 'URTI',
 'URTI',
 'COPD',
 'Bronchiolitis',
 'Bronchiectasis',
 'Bronchiectasis',
 'COPD',
 'Healthy',
 'COPD',
 'Bronchiolitis',
 'COPD',
 'COPD',
 'COPD',
 'COPD',
 'COPD',
 'Healthy',
 'COPD',
 'COPD',
 'Healthy',
 'Healthy',
 'Healthy',
 'COPD',
 'COPD',
 'Healthy',
 'URTI',
 'COPD',
 'URTI',
 'Pneumonia',
 'COPD',
 'COPD',
 'Healthy',
 'COPD',
 'Bronchiectasis',
 'URTI',
 'COPD',
 'COPD',
 'COPD',
 'Bronchiectasis',
 'Healthy',
 'COPD',
 'COPD',
 'COPD',
 'Bronchiolitis',
 'COPD',
 'Healthy',
 'Healthy',
 'URTI',
 'COPD',
 'COPD',
 'COPD',
 'Healthy',
 'Bronchiectasis',
 'Bronchiolitis',
 'Healthy',
 'COPD',
 'Pneumonia',
 'COPD',
 'COPD',
 'COPD',
 'COPD',
 'Healthy',
 'Healthy',
 'Pneumoni']

In [19]:
data = pd.read_csv("demographic_info.csv")
data["disease"]=disease
data

     Unnamed: 0  Patient_ID    Age Gender    BMI  Weight  Height   disease
0             0         101   3.00      F    NaN    19.0    99.0      URTI
1             1         102   0.75      F    NaN     9.8    73.0   Healthy
2             2         103  70.00      F  33.00     NaN     NaN    Asthma
3             3         104  70.00      F  28.47     NaN     NaN      COPD
4             4         105   7.00      F    NaN    32.0   135.0      URTI
..          ...         ...    ...    ...    ...     ...     ...       ...
121         121         222  60.00      M    NaN     NaN     NaN      COPD
122         122         223    NaN    NaN    NaN     NaN     NaN      COPD
123         123         224  10.00      F    NaN    32.3   143.0   Healthy
124         124         225   0.83      M    NaN     7.8    74.0   Healthy
125         125         226   4.00      M    NaN    16.7   103.0  Pneumoni

[126 rows x 8 columns]

In [20]:
data["disease"].unique()

array(['URTI', 'Healthy', 'Asthma', 'COPD', 'LRTI', 'Bronchiectasis',
       'Pneumonia', 'Bronchiolitis', 'Pneumoni'], dtype=object)

In [21]:
data["disease"].value_counts()

COPD              64
Healthy           26
URTI              14
Bronchiectasis     7
Bronchiolitis      6
Pneumonia          5
LRTI               2
Asthma             1
Pneumoni           1
Name: disease, dtype: int64

In [24]:
#creating the is_healthy feature
data["is_healthy"]=0
for i in range(len(data)):
    if data["disease"][i]=="Healthy":
        data["is_healthy"][i]=1
data

,Unnamed: 0,Patient_ID,Age,Gender,BMI,Weight,Height,disease,is_healthy
0,0,101,3.00,F,NaN,19.0,99.0,URTI,0
1,1,102,0.75,F,NaN,9.8,73.0,Healthy,1
2,2,103,70.00,F,33.00,NaN,NaN,Asthma,0
3,3,104,70.00,F,28.47,NaN,NaN,COPD,0
4,4,105,7.00,F,NaN,32.0,135.0,URTI,0
...,...,...,...,...,...,...,...,...,...
121,121,222,60.00,M,NaN,NaN,NaN,COPD,0
122,122,223,NaN,NaN,NaN,NaN,NaN,COPD,0
123,123,224,10.00,F,NaN,32.3,143.0,Healthy,1
124,124,225,0.83,M,NaN,7.8,74.0,Healthy,1
125,125,226,4.00,M,NaN,16.7,103.0,Pneumoni,0

In [25]:
data.drop(["Unnamed: 0"],axis=1,inplace=True)

In [26]:
#encoding the gender class
for i in range(len(data)):
    if data["Gender"][i]=="F":
        data["Gender"][i]=0
    else:
        data["Gender"][i]=1

#modifying the BMI column to account for NA values
import math
math.isnan(data["BMI"][0])
data["Height"][125]=103
for i in range(len(data)):
    if math.isnan(data["BMI"][i]):
        if (math.isnan(data["Weight"][i]) and math.isnan(data["Height"][i])):
            data["BMI"][i]=22
        else:
            data["BMI"][i]=data["Weight"][i]/(0.0001*data["Height"][i]**2)

In [27]:
#dropping the weight and height column as they are no longer required
data.drop(["Weight","Height"],axis=1,inplace=True)

In [28]:
data["BMI"].fillna(22,inplace=True)
data["Age"].fillna(20,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Patient_ID  126 non-null    int64
 1   Age         126 non-null    float64
 2   Gender      126 non-null    object
 3   BMI         126 non-null    float64
 4   disease     126 non-null    object
 5   is_healthy  126 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 6.0+ KB

In [29]:
data

     Patient_ID    Age Gender        BMI   disease  is_healthy
0           101   3.00      0  19.385777      URTI           0
1           102   0.75      0  18.389942   Healthy           1
2           103  70.00      0  33.000000    Asthma           0
3           104  70.00      0  28.470000      COPD           0
4           105   7.00      0  17.558299      URTI           0
..          ...    ...    ...        ...       ...         ...
121         222  60.00      1  22.000000      COPD           0
122         223  20.00      1  22.000000      COPD           0
123         224  10.00      0  15.795393   Healthy           1
124         225   0.83      1  14.243974   Healthy           1
125         226   4.00      1  15.741352  Pneumoni           0

[126 rows x 6 columns]

In [30]:
#saving to a csv file
data.to_csv("demographic_info.csv")

Now we will split the data in train-test files

In [31]:
data = pd.read_csv("D:\ICBHI_final_database\ICBHI_final_database\demographic_info.csv")
data.head()

   Unnamed: 0  Patient_ID    Age  Gender        BMI  disease  is_healthy
0           0         101   3.00       0  19.385777     URTI           0
1           1         102   0.75       0  18.389942  Healthy           1
2           2         103  70.00       0  33.000000   Asthma           0
3           3         104  70.00       0  28.470000     COPD           0
4           4         105   7.00       0  17.558299     URTI           0

In [32]:
data.set_index("Patient_ID",inplace=True)
data.head()

            Unnamed: 0    Age  Gender        BMI  disease  is_healthy
Patient_ID
101                  0   3.00       0  19.385777     URTI           0
102                  1   0.75       0  18.389942  Healthy           1
103                  2  70.00       0  33.000000   Asthma           0
104                  3  70.00       0  28.470000     COPD           0
105                  4   7.00       0  17.558299     URTI           0

In [33]:
#reding lines and seperating them from train test split file
lines = open("D:\ICBHI_final_database\ICBHI_final_database\ICBHI_challenge_train_test.txt","r").readlines()
broken = []

for line in lines:
    line = line[:-1]
    broken.append(line.split('\t'))

broken[0:4]

[['101_1b1_Al_sc_Meditron', 'test'],
 ['101_1b1_Pr_sc_Meditron', 'test'],
 ['102_1b1_Ar_sc_Meditron', 'test'],
 ['103_2b2_Ar_mc_LittC2SE', 'train']]

In [34]:
df=pd.DataFrame(broken,columns=["filename","split"])
df

                   filename  split
0    101_1b1_Al_sc_Meditron   test
1    101_1b1_Pr_sc_Meditron   test
2    102_1b1_Ar_sc_Meditron   test
3    103_2b2_Ar_mc_LittC2SE  train
4    104_1b1_Al_sc_Litt3200   test
..                      ...    ...
915  224_1b2_Al_sc_Meditron   test
916  225_1b1_Pl_sc_Meditron   test
917  226_1b1_Al_sc_Meditron  train
918  226_1b1_Ll_sc_Meditron  train
919  226_1b1_Pl_sc_Meditron  train

[920 rows x 2 columns]

In [35]:
df[df["split"]=='test'].count()

filename    381
split       381
dtype: int64

In [36]:
df[df["split"]=='train'].count()

filename    539
split       539
dtype: int64

In [37]:
#create features 
age=[]
gender=[]
bmi=[]
is_healthy=[]
disease=[]
for i in range(len(df)):
    age.append(data["Age"][int(df["filename"][i][0:3])])
    gender.append(data["Gender"][int(df["filename"][i][0:3])])
    bmi.append(data["BMI"][int(df["filename"][i][0:3])])
    is_healthy.append(data["is_healthy"][int(df["filename"][i][0:3])])
    disease.append(data["disease"][int(df["filename"][i][0:3])])

In [38]:
#add the created features
df["Age"]=age
df["Gender"]=gender
df["BMI"]=bmi
df["disease"]=disease
df["is_healthy"]=is_healthy

df

,filename,split,Age,Gender,BMI,disease,is_healthy
0,101_1b1_Al_sc_Meditron,test,3.00,0,19.385777,URTI,0
1,101_1b1_Pr_sc_Meditron,test,3.00,0,19.385777,URTI,0
2,102_1b1_Ar_sc_Meditron,test,0.75,0,18.389942,Healthy,1
3,103_2b2_Ar_mc_LittC2SE,train,70.00,0,33.000000,Asthma,0
4,104_1b1_Al_sc_Litt3200,test,70.00,0,28.470000,COPD,0
...,...,...,...,...,...,...,...
915,224_1b2_Al_sc_Meditron,test,10.00,0,15.795393,Healthy,1
916,225_1b1_Pl_sc_Meditron,test,0.83,1,14.243974,Healthy,1
917,226_1b1_Al_sc_Meditron,train,4.00,1,15.741352,Pneumoni,0
918,226_1b1_Ll_sc_Meditron,train,4.00,1,15.741352,Pneumoni,0
919,226_1b1_Pl_sc_Meditron,train,4.00,1,15.741352,Pneumoni,0

In [39]:
train = df[df["split"]=="train"]
test = df[df["split"]=="test"]

In [40]:
train['disease'].value_counts()

COPD              444
Pneumonia          34
Healthy            18
URTI               16
Bronchiectasis     14
Bronchiolitis       7
Pneumoni            3
LRTI                2
Asthma              1
Name: disease, dtype: int64

In [41]:
train['is_healthy'].value_counts()

0    521
1     18
Name: is_healthy, dtype: int64

In [42]:
test['disease'].value_counts()

COPD              349
Healthy            17
URTI                7
Bronchiolitis       6
Bronchiectasis      2
Name: disease, dtype: int64

In [43]:
test['is_healthy'].value_counts()

0    364
1     17
Name: is_healthy, dtype: int64

In [44]:
#finally saving the files as .csv to be used in modeling and training
train.to_csv("train.csv")
test.to_csv("test.csv")